.foot
  p.text-center 每一种美，都会有一双眼睛能看到；每一份爱，总会有一颗心会感受到。
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/javascripts/global.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
block extend
