section.content-wrap
  .container
    .row
      main.col-md-8
        article#45.post
          .post-head.text-center
            h1.post-title
              a(href="/posts/45") 秘制红烧肉
            .tag-cloud
              a(href="/list/10001") 家常菜
              a(href="/list/10001") 家常菜
              a(href="/list/10001") 家常菜
              a(href="/list/10001") 家常菜
              a(href="/list/10001") 家常菜
              a(href="/list/10001") 家常菜
          .featured-media
            a(href="/posts/45")
              img(src="", alt="")
          .post-content
            p
          .post-permalink
            a.btn.btn-default(href="/posts/45") 查看全部
          footer.post-footer.clearfix